extend layout 

block content
    doctype html
    html(lang='en')
    head
        meta(charset='UTF-8')
        title  FilmCube 
        //- link(rel='stylesheet' type='text/css' href='style.css')
        script(src='scripts/main.js')
    body
        .rectangle1
        h1(style='text-align:left')
            b FILMCUBE
        h4(style='text-align:left')  by: Skyler Espinoza
    hr.line1
    .button
      a.button1(href='https://www.imdb.com/') Films
      a.button2(href='https://www.comingsoon.net/trailers') Trailers
      a.button3(href='https://www.flickr.com/') Photos
      a.button4(href='http://localhost:3000/contact') Info
    h1(style='text-align:center')  Recent trailers released.  
    hr.line1
    //- video(height='350' width='425' controls='')
    //-   source(src='videos/harbinger.mov' type='video/ogg')
    //- video(height='350' width='425' controls='')
    //-   source(src='videos/armageddon.mov' type='video/ogg')
    //- video(height='350' width='425' controls='')
    //-   source(src='videos/gone.mov' type='video/ogg')
    hr.line1
    p  
    h1  FilmCube Belives in the power to let your mind take off and tell your story.
    .tabbox
      | We hope to give you the power to spread creativity from a 3D world to a 2D screen. By giving everyone a chance to
      | open up and tell their own stories in their own way. FilmCube was created to allow these artforms
      | to shine through and take off around the world. To imagine something more that others can see and love as much
      | as you do. Feel free to let your mind wander outside of the cube. We hope you love it as much
      | as we do. Thanks!
    .rectangle
        //- img(src='images/bawphoto.webp' alt='Italian Trulli' width='500' height='300')
    a.button1(href='http://localhost:3000/contact') Create an account
    hr.line1

    footer
      .rectangle2
        h3  Contact Us
        p
          | Skyler Espinoza 
          br
          |                 2788 Broadway,
          |                 New York, NY 10025
          br
          |                 902.902.9029Absolute Bagels, 2788 Broadway, New York, NY 10025
        //- iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.140304490145!2d-73.96901547912562!3d40.80291053688006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f63b33ef6d2d%3A0xc0c3585923a7de1a!2sAbsolute%20Bagels!5e0!3m2!1sen!2sus!4v1662667676028!5m2!1sen!2sus' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
        br
        h3
          b  STAY CONNECTED 
        br
        h1 Leave any feedback
        //- form(action='/action_page.php')
        //- textarea#text(name='text' rows='4' cols='50')  Type here.
        //- br
        //- input(type='submit' value='Submit')





