doctype html
html
  head
    title FILMCUBE
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  body
    nav
      // Header of webpage
      .nav-left
        img.logo(src='images/FilmCube-logos/FilmCube-logos_transparent_resized.png')
        ul
          li
            img(width='60px', height='auto', src='images/logos/global_logo.png')
          li
            img(width='60px', height='auto', src='images/logos/bell_logo.png')
          li
            img(width='60px', height='auto', src='images/logos/setting_logo.png')
      .nav-right
        .search-box
          img(width='60px', src='images/logos/search_logo.png')
          input(type='text', placeholder='Search')
        .nav-user-icon.online
          .dropdown
            .user-profile
            span
              img(src='images/profileimg.png')
            .dropdown-content
              div
                img(src='images/profileimg.png')
                p Andrea Doe
                a(href='#') See your profile
              .settings-links
                img.settings-icon(width='80px', src='images/logos/setting_logo.png')
                a(href='#') Settings
    .container
      // left sidebar
      .left-sidebar
        .imp-links
          a(href='#')
            img(width='60px', src='images/logos/photo_logo.png')
            |  Pics
          a(href='#')
            img(width='60px', src='images/logos/video_logo.png')
            |  Videos
          a(href='#')
            img(width='60px', src='images/logos/friend_logo.png')
            |  Friends
        .shortcut-links
          p Referral Shortcuts
          a(href='#')
            img(width='60px', src='images/logos/flicker_logo.png')
            |  Flicker
          a(href='#')
            img(width='60px', src='images/logos/behance_logo.png')
            |  Behance
      // main bar
      .main-bar
        .story-gallery
          .story.story1
            img(width='7px', src='images/logos/storyadd_logo.png')
            p Post Story
          .story.story2
            img(width='70px', src='images/user1.jpg')
            p Tiffany
          .story.story3
            img(width='70px', src='images/user2.jfif')
            p Nick
          .story.story4
            img(width='70px', src='images/user3.png')
            p Taylor
          .story.story5
            img(width='70px', src='images/user4.jpg')
            p Randy
        .write-post-container
          .user-profile
            img(src='images/profileimg.png')
            div
              p Andrea Doe
              small Public
          .post-input-container
            textarea(rows='3', placeholder='Do you hace anything to say?')
            .add-post-links
              a(href='#')
                img(width='70px', src='images/logos/photo_logo.png')
                |  Photo
              a(href='#')
                img(width='70px', src='images/logos/video2_logo.png')
                |  Video
              a(href='#')
                img(width='70px', src='images/logos/emote_logo.png')
                |  Emote
        .post-container
          .post-row
            .user-profile
              img(src='images/guypprofile.jpg')
              div
                p John Nicholson
                span December 2 2022, 9:04 pm
          p.post-text There&apos;s no Wi-Fi in the forest, but I promise you&apos;ll find a better connection
          img.post-img(src='images/natureimg.jpg')
          .post-row
            .activity-icons
              div
                img(width='80px', src='images/logos/like_logo.png')
                |  84
              div
                img(width='80px', src='images/logos/comment_logo.png')
                |  3
              div
                img(width='80px', src='images/logos/share_logo.png')
                |  9
            .post-profile-icon
              img(src='images/profileimg.png')
          .post-container
            .post-row
              .user-profile
                img(src='images/profileimg2.jpg')
                div
                  p Andrew McDavid
                  span December 2 2022, 7:15 pm
            p.post-text My students enjoying one last experiment before the winter break.
            img.post-img(width='80%', src='images/science-experiment.jpg')
            .post-row
              .activity-icons
                div
                  img(width='80px', src='images/logos/like_logo.png')
                  |  13
                div
                  img(width='80px', src='images/logos/comment_logo.png')
                  |  1
                div
                  img(width='80px', src='images/logos/share_logo.png')
                  |  2
              .post-profile-icon
                img(src='images/profileimg.png')
            .post-container
              .post-row
                .user-profile
                  img(src='images/profileimg3.jpg')
                  div
                    p Photo_freak
                    span December 2 2022, 4 pm
              p.post-text On top of the world!
              img.post-img(width='70%', src='images/cityphoto.jpg')
              .post-row
                .activity-icons
                  div
                    img(width='80px', src='images/logos/likepink_logo.png')
                    |  1.2K
                  div
                    img(width='80px', src='images/logos/comment_logo.png')
                    |  42
                  div
                    img(width='80px', src='images/logos/share_logo.png')
                    |  264
                .post-profile-icon
                  img(src='images/profileimg.png')
              .post-container
                .post-row
                  .user-profile
                    img(src='images/profileimg4.jpg')
                    div
                      p Photo_freak
                      span December 2 2022, 4 pm
                p.post-text Another gorgious day.
                img.post-img(src='images/familyphoto.jpg')
                .post-row
                  .activity-icons
                    div
                      img(width='80px', src='images/logos/likepink_logo.png')
                      |  420
                    div
                      img(width='80px', src='images/logos/comment_logo.png')
                      |  41
                    div
                      img(width='80px', src='images/logos/share_logo.png')
                      |  82
                  .post-profile-icon
                    img(src='images/profileimg.png')
                button.load-more-btn(type='button') Load more