doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    link(rel='stylesheet', href='/public/bootstrap/css/bootstrap.css')
  body
    block content
    script(src='/javascript/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
